
body {
    background-color: #f0f4f8;
    color: #1a202c;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #2b6cb0;
}
